*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
captures/
google-services.json
.DS_Store
*.swp
*~
.idea/
.gradle/
build/
local.properties
